<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/error.css" />
    <link rel="icon" href="assets/icons/favicon.ico" type="image/x-icon" />
    <script type="module" src="/lib/error.js"></script>
    <title>Error</title>
  </head>
  <body>
    <main class="error-page">
      <h1>Unexpected error</h1>
      <h2><i>status: 404 </i></h2>
      <a href="/">Back</a>
      <div class="animation-wrapper">
        <div class="sharingan left"></div>
        <div class="sharingan middle"></div>
        <div class="sharingan right"></div>
      </div>
    </main>
  </body>
</html>
