:root {
  --header-bg: #3d3d3d;
  --main-bg: ;
  --footer-bg: var(--header-bg);

  --on-header: ;
  --on-main: ;
  --on-footer: ;

  --active-link: crimson;

  --hero-bg: red;

  --card-bg: #5e5e5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-repeat: repeat;
}

header {
  background-color: var(--header-bg);
}

nav > ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

nav > ul > li > a.active {
  text-decoration: underline;
  color: var(--active-link);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 600px;
  height: clamp(300px, 50svh, 600px);
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  margin: 0 1rem;
}

.hero {
  --size: 35svh;
  display: flex;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 1rem;
}

.hero > .curtain-left {
  width: 50%;
  height: 100%;
  background-color: var(--hero-bg);
  position: absolute;
  border-radius: 0 1rem 1rem 0;
  animation: reveal 1.2s ease-in-out forwards;
}

.hero > .curtain-right {
  width: 50%;
  height: 100%;
  background-color: var(--hero-bg);
  right: 0;
  position: absolute;
  border-radius: 1rem 0 0 1rem;
  animation: reveal 1.2s ease-in-out forwards;
}

.quote {
  text-align: center;
  max-width: 55ch;
}

@keyframes reveal {
  0% {
    width: 50%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}

.hero > img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.error-page {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: var(--footer-bg);
  text-align: center;
  padding: 1rem 0;
}

@media (hover: hover) {
  nav > ul > li > a:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    --size: 50svw;
  }
}
