:root {
  --header-bg: #3d3d3d;
  --main-bg: ;
  --footer-bg: var(--header-bg);

  --on-header: ;
  --on-main: ;
  --on-footer: ;

  --color-theme: ;

  --card-bg: #5e5e5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Amaranth", sans-serif;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background-repeat: repeat;
  animation: reveal 0.5s ease-out forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
}

nav > ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease-in-out;
  transition-behavior: allow-discrete;
}

nav > ul > li > a.active {
  text-decoration: underline;
  color: var(--color-theme);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.error-page {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #3d3d3d;
}

footer {
  background-color: var(--footer-bg);
  text-align: center;
  padding: 1rem 0;
}

@media (hover: hover) {
  a:hover,
  nav > ul > li > a:hover {
    text-decoration: underline;
  }
  nav > ul > li > a:hover {
    background-color: #5e5e5e;
    transition: background-color 0.3s ease-in-out;
    transition-behavior: allow-discrete;
  }
}
